.crs-icon-button {
    font-family: "Material Icons";
    font-size: 1.5rem;
    background: transparent;
    color: var(--crs-on-primary);
    border: 0;
    margin: 0.25rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    /* text-align: center; */
    /* vertical-align: middle; */
    /* line-height: 2.5rem; */
}