.crs-icon-button {
    font-family: "Material Icons";
    font-size: 1.5rem;
    background: transparent;
    color: var(--crs-on-primary);
    border: 0;
    margin: 0.25rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.crs-icon-button.dropdown {
    --cl-border: white;
    padding-left: 0;
    padding-right: 1rem;
    border-radius: 4px;
    border: solid transparent 1px;
}

.crs-icon-button.dropdown:hover, .crs-icon-button.dropdown:focus {
    border: solid var(--cl-border) 1px;
    background: var(--crs-surface);
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 0 1px -2px rgb(0 0 0 / 20%), 0 0 5px 0 rgb(0 0 0 / 12%);
}

.crs-icon-button.dropdown:active {
    box-shadow: 0 0 0 transparent;
}

.crs-icon-button.dropdown:after {
    content: "arrow_drop_down";
    position: absolute;
    right: -0.25rem;
    top: 0.5rem;
}