data-grid {
    --padding: 0.5rem;
    --cl-cell: white;
    --cl-sticky: #ededed;
    --cl-border: silver;
    --cl-column-group: #ededed;
    --cl-placeholder: whitesmoke;

    display: grid;
    background: white;
    grid-template-rows: auto 1fr auto;
    border: solid 1px var(--cl-border);
    box-sizing: border-box;
    user-select: none;
    position: relative;
}

data-grid * {
    box-sizing: border-box;
}

data-grid .body {
    display: grid;
    overflow: auto;
    grid-template-rows: auto auto;
    min-height: 300px;
    content-visibility: auto;
    will-change: transform;
}

data-grid .column-header {
    padding: var(--padding);
    background: #dadada;
    position: sticky;
    top: 0;
    border-left: solid 1px var(--cl-border);
    border-bottom: solid 1px var(--cl-border);
}

data-grid [role="gridcell"] {
    padding: var(--padding);
    background: var(--cl-cell);
    border-left: solid 1px var(--cl-border);
    border-bottom: solid 1px var(--cl-border);
}

data-grid .sticky {
    position: sticky;
    background: var(--cl-sticky);
}

data-grid .column-group {
    padding: var(--padding);
    background: var(--cl-column-group);
    border-left: solid 1px var(--cl-border);
}

data-grid .grouping-header {
    height: 3rem;
    background: var(--cl-column-group);
    border-bottom: solid 1px var(--cl-border);
    color: #6a6a6a;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding);
}

data-grid .placeholder {
    position: relative;
    background: var(--cl-placeholder);
}

data-grid .placeholder:before {
    content: "";
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    border: dashed 1px var(--cl-border);
}

data-grid .left-hanger, data-grid .right-hanger {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2rem;
    background: red;
    z-index: 99999;
}

data-grid .left-hanger {
    left: 0;
}

data-grid .right-hanger {
    right: 0;
}

.clone {
    position: absolute;
    padding: 0.5rem;
    background: silver;
    box-shadow: 0 0 5px #000000b0;
    will-change: transform;
}

.marker {
    position: absolute;
    width: 0.5rem;
    height: 2.5rem;
    background: var(--cl-marker);
    opacity: 0.7;
}

data-grid .top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    background: transparent;
    pointer-events: none;
}

data-grid .left {
    text-align: left;
}

data-grid .right {
    text-align: right;
}

data-grid .center {
    text-align: center;
}

.drag-layer {
    --cl-marker: #0080ff;
}