data-grid {
    --padding: 0.5rem;

    display: grid;
    background: white;
    grid-template-rows: auto 1fr auto;
}

data-grid .body {
    display: grid;
    overflow: auto;
    grid-template-rows: auto auto;
    min-height: 300px;
    content-visibility: auto;
}

data-grid .column-header {
    padding: var(--padding);
    background: #dadada;
    position: sticky;
    top: 0;
}

data-grid [role="gridcell"] {
    padding: var(--padding);
}