.crs-header {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background: var(--crs-primary);
    color: var(--crs-on-primary);
}

.crs-header h2 {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
}