<style>
    .card {
        padding: 0.5rem;
        border: silver 1px solid;
    }

    .label {
        display: inline-block;
        width: 100px;
    }
</style>

<h3>Mobile</h3>

<div>
    <template for.once="record of data">
        <div class="card">
            <div>
                <span class="label">Id:</span>
                <span>${record.id}</span>
            </div>

            <div>
                <span class="label">Title:</span>
                <span>${record.title}</span>
            </div>

            <div>
                <span class="label">Value:</span>
                <span>${record.value}</span>
            </div>
        </div>
    </template>
</div>
