:root {
    /* Colors */
    --crs-primary        : #2196f3;
    --crs-on-primary     : white;
    --crs-surface        : white;
    --crs-on-surface     : #4c4c4c;

    /* Hover */
    --crs-hover          : #ebebeb;
    --crs-on-hover       : #0062af;
    --crs-before-hover   : #0062af;
    --crs-after-hover    : #0062af;

    /* Read Only */
    --crs-readonly       : #dedede;
    --crs-on-readonly    : gray;

    /* Required */
    --crs-required       : #fffbea;
    --crs-on-required    : #ffcf01;

    /* Invalid */
    --crs-invalid        : #ffe0e0f7;
    --crs-on-invalid     : red;

    /* Border */
    --crs-border         : #dedede;
    --crs-border-radius: 4px;

    /* Layout */
    --crs-padding        : 0.5rem;
    --crs-item-padding   : 0.5rem;

    /* Animations */
    --show-time: 0.3s;
}

:root * {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:required {
    background: var(--crs-required) !important;
    border: solid 2px var(--crs-on-required) !important;
}

:invalid {
    background: var(--crs-invalid) !important;
    border: solid 2px var(--crs-on-invalid) !important;
}