:root {
    /* Colors */
    --crs-primary        : cornflowerblue; /* primary background */
    --crs-on-primary     : white;          /* color on primary   */
    --crs-surface        : white;          /* surface color      */
    --crs-on-surface     : #4c4c4c;          /* color on surface   */

    /* Hover */
    --crs-hover          : #6495ed30; /* when you hover over a item */
    --crs-on-hover       : cornflowerblue;          /* color of text on hover item */
    --crs-before-hover   : cornflowerblue;
    --crs-after-hover    : cornflowerblue;

    /* Layout */
    --crs-padding        : 0.5rem;
    --crs-item-padding   : 0.5rem;

    /* Animations */
    --show-time          : 0.3s;
}

:root * {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}