<style>
    data-grid-3d {
        --cl-header: #dedede;
        --cl-border: #bebebe;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 2rem 1fr;
        overflow: hidden;
    }

    data-grid-3d .grid-grouping {
        display: flex;
        flex-direction: row;
        background: var(--cl-header);
        border: solid 1px var(--cl-border);
        align-items: center;
        padding-left: 0.5rem;
    }

    data-grid-3d .grid-columns {
        display: flex;
        flex-direction: row;
    }

    data-grid-3d .grid-body {
        position: relative;
    }

    data-grid-3d .scroll, data-grid-3d orthographic-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    data-grid-3d .column-header, .drag-layer .column-header {
        background: #dedede;
        border-right: solid 1px var(--cl-border);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        box-sizing: border-box;
        user-select: none;
    }

    data-grid-3d .grid-grouping .column-header {
        width: auto;
        padding: 0.5rem 1rem;
        border: solid 1px var(--cl-border);
        height: 2rem;
    }

    .drag-layer .column-header {
        pointer-events: none;
    }

</style>

<div class="grid-grouping" data-drop="orderGrouping"></div>
<div class="grid-columns" data-drop="orderColumns"></div>
<div class="grid-body">
    <div class="scroll">
        <div class="scroll-marker"></div>
    </div>
    <orthographic-canvas></orthographic-canvas>
</div>
