<style>
    data-grid-3d {
        --cl-header: #f2f2f2;
        --cl-border: #bebebe;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 2rem 1fr;
        overflow: hidden;
    }

    data-grid-3d .grid-grouping {
        display: flex;
        position: relative;
        flex-direction: row;
        background: var(--cl-header);
        border: solid 1px var(--cl-border);
        align-items: center;
        padding-left: 0.5rem;
    }

    data-grid-3d .grid-grouping:before {
        content: attr(title);
        position: absolute;
        left: 1rem;
        top: 0.75rem;
        color: gray;
    }

    data-grid-3d .grid-columns {
        display: flex;
        flex-direction: row;
    }

    data-grid-3d .grid-body {
        position: relative;
    }

    data-grid-3d .scroll, data-grid-3d orthographic-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    data-grid-3d .column-header, .drag-layer .column-header {
        background: white;
        border-right: solid 1px var(--cl-border);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        box-sizing: border-box;
        user-select: none;
    }

    data-grid-3d .column-header span {
        pointer-events: none;
    }

    data-grid-3d .grid-grouping .column-header-group {
        border: solid 1px var(--cl-border);
        width: max-content;
        min-width: 100px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.25rem 1rem;
        margin-right: 0.25rem;
    }

    data-grid-3d .grid-grouping .column-header-group span {
        flex: 1;
    }

    data-grid-3d .filter-icon {
        position: absolute;
        top: 8px;
        right: 20px;
        width: 16px;
        height: 16px
    }

    data-grid-3d .resize-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 32px;
        fill: silver;
        cursor: col-resize;
    }

    data-grid-3d .close-icon, .drag-layer .close-icon {
        width: 24px;
        height: 24px;
        fill: var(--text);
        margin: 0 -0.5rem 0 0.5rem;
    }

    .drag-layer .column-header {
        pointer-events: none;
        height: 2rem;
    }

    .drag-layer .column-header .filter-icon, .drag-layer .column-header .resize-icon {
        display: none;
    }
</style>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
    <symbol id="filter" viewBox="0 0 24 24">
        <path fill="none" stroke="#272C37" d="M.78.6a.64.64 0 0 0-.23.3.61.61 0 0 0 .13.68l8.82 8.81v9.87c0 .2.1.4.27.51l3.75 2.63a.62.62 0 0 0 .64.04.62.62 0 0 0 .34-.56V10.4L23 1.57l-.06-.02c-.64-.2-1.8-.4-3.8-.57C15.84.7 10.3.5.78.6z"></path>
    </symbol>

    <symbol id="grid-resize" viewBox="0 0 24 24">
        <path d="M10.06 23.25V.75c0-.41-.23-.75-.51-.75H8.52C8.23 0 8 .34 8 .75v22.5c0 .41.23.75.52.75h1.03c.28 0 .51-.34.51-.75zm5.94 0V.75c0-.41-.23-.75-.52-.75h-1.03c-.28 0-.51.34-.51.75v22.5c0 .41.23.75.51.75h1.03c.29 0 .52-.34.52-.75z"></path>
    </symbol>

    <symbol id="close" viewBox="0 0 24 24">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
    </symbol>
</svg>

<div class="grid-grouping" data-drop="orderGrouping" title="drag from the grid to group by field"></div>
<div class="grid-columns" data-drop="orderColumns"></div>
<div class="grid-body">
    <div class="scroll">
        <div class="scroll-marker"></div>
    </div>
    <orthographic-canvas></orthographic-canvas>
</div>
